<a class="photo thumb" href="/set/<%= photo.set.id %>/photo/<%= photo.id %>" title="<%= photo.filename %>">
  <img src="<%= photo.thumb_url(:small) %>" alt="<%= photo.filename %>">
  <h2><%= truncate(photo.filename, 20) %></h2>
</a>
