<%= partial 'set_thumb', set: @photo.set.next if @photo.set.next %>
<%= partial 'photo_thumb', photo: @photo.prev if @photo.prev %>
<%= partial 'set_thumb', set: @photo.set if @photo.set %>
<%= partial 'photo_thumb', photo: @photo.next if @photo.next %>
<%= partial 'set_thumb', set: @photo.set.prev if @photo.set.prev %>
<h1><%= @photo.filename %></h1>
<img src="<%= @photo.thumb_url(:big) %>" alt="<%= @photo.filename %>" class="big-thumb">
<table id="photo-details">
  <tr>
    <th>File name</th>
    <td><%= @photo.filename %></td>
  </tr>
  <tr>
    <th>File size</th>
    <td><%= @photo.file_size %></td>
  </tr>
  <tr>
    <th>Dimensions</th>
    <td><%= @photo.dimensions %></td>
  </tr>
  <tr>
    <th>Aspect ratio</th>
    <td><%= @photo.aspect_ratio %></td>
  </tr>
  <tr>
    <th>Taken at</th>
    <td><%= @photo.taken_at.strftime('%a, %e %b %Y %H:%M:%S %z') %></td>
  </tr>
  <tr>
    <th>Camera</th>
    <td><%= @photo.camera %></td>
  </tr>
  <tr>
    <th>Artist</th>
    <td><%= @photo.exif['Artist'] %></td>
  </tr>
  <tr>
    <th>Shutter speed</th>
    <td><%= @photo.exif['ExposureTime'] %></td>
  </tr>
  <tr>
    <th>Aperture size</th>
    <td>f/<%= @photo.exif['FNumber'] %></td>
  </tr>
  <tr>
    <th>ISO</th>
    <td><%= @photo.exif['ISO'] %></td>
  </tr>
  <tr>
    <th>Exp. compensation</th>
    <td><%= @photo.exif['ExposureCompensation'] %></td>
  </tr>
  <tr>
    <th>Light source</th>
    <td><%= @photo.exif['LightSource'] %></td>
  </tr>
  <tr>
    <th>Focus mode</th>
    <td><%= @photo.exif['FocusMode'] %></td>
  </tr>
  <tr>
    <th>Shooting mode</th>
    <td><%= @photo.exif['ShootingMode'] %></td>
  </tr>
</table>
