<h1><%= @photo.filename %></h1>
<%= partial 'set', @photo.set.prev if @photo.set.prev %>
<%= partial 'photo', @photo.prev if @photo.prev %>
<img src="<%= @photo.thumb_url(:big) %>" alt="<%= @photo.filename %>">
<%= partial 'photo', @photo.next if @photo.next %>
<%= partial 'set', @photo.set.next if @photo.set.next %>
<table>
  <tr>
    <th>File name</th>
    <td><%= @photo.filename %></td>
  </tr>
  <tr>
    <th>File size</th>
    <td><%= @photo.file_size %></td>
  </tr>
  <tr>
    <th>Set</th>
    <td><a href="/set/<%= @photo.set.id %>"><%= @photo.set.name %></a></td>
  </tr>
  <tr>
    <th>Dimensions</th>
    <td><%= @photo.dimensions %></td>
  </tr>
  <tr>
    <th>Aspect ratio</th>
    <td><%= @photo.aspect_ratio %></td>
  </tr>
  <tr>
    <th>Taken at</th>
    <td><%= @photo.taken_at.strftime('%a, %e %b %Y %H:%M:%S %z') %></td>
  </tr>
  <tr>
    <th>Camera</th>
    <td><%= @photo.camera %></td>
  </tr>
  <tr>
    <th>Artist</th>
    <td><%= @photo.exif['Artist'] %></td>
  </tr>
  <tr>
    <th>Shutter speed</th>
    <td><%= @photo.exif['ExposureTime'] %></td>
  </tr>
  <tr>
    <th>Aperture size</th>
    <td>f/<%= @photo.exif['FNumber'] %></td>
  </tr>
  <tr>
    <th>ISO</th>
    <td><%= @photo.exif['ISO'] %></td>
  </tr>
  <tr>
    <th>Exp. compensation</th>
    <td><%= @photo.exif['ExposureCompensation'] %></td>
  </tr>
  <tr>
    <th>Light source</th>
    <td><%= @photo.exif['LightSource'] %></td>
  </tr>
  <tr>
    <th>Focus mode</th>
    <td><%= @photo.exif['FocusMode'] %></td>
  </tr>
  <tr>
    <th>Shooting mode</th>
    <td><%= @photo.exif['ShootingMode'] %></td>
  </tr>
</table>
